
* {
  margin: 0;
  padding: 0;
/*  box-sizing: border-box;
  border: solid red;  */
}

body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb (230, 230, 230);
}

nav {
  position: relative; 
  background-color: black;
  padding: 20px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#logo-navbar {
  max-width: 100px;
  height: auto;
}

.contact-content a {
  border-color: transparent;
  border-radius: .375rem;
  border-width: 1px;
  display: inline;
  align-items: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

@media (max-width: 768px) {
  ul {
      background-color: rgb(230, 230, 230);
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
  }

  li {
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center;
  }

  .nav-button {
      display:inline;
  }
}



img {
  max-width: 100%;
  height: auto;
}

.text-terminos {
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  text-decoration: solid underline;
}

@media (max-width: 768px) {
  .left-content, .right-content {
    flex-basis: 100%;
    text-align: center;
  }

  .right-content {
    margin-left: 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

section {
  background-color: rgb(230, 230, 230);
  text-align: center;
  padding: 50px;
  font-size: 32px;
}

.card-container {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.card {
  background-color: white;
  width: 15%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.title-info-article {
  --tw-text-opacity: 1;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button[type="submit"] {
  position: relative;
  padding: 8px;
  cursor: pointer;
  color: white;
  background-color: rgb(50, 155, 170);
  border: none;
  display:center;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: 20px;
}

.grafico {
  padding: 20px 20px;
  background-color: rgb (230, 230, 230);
  border: 10px;
}

@media (max-width: 768px) {
  .card {
      width: 100%;
      margin-bottom: 30px;
  }
}

